.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    color: F9FAF8;
    padding: 4px;
    font-weight: 900;
    font-size: 18px;
}

.header-link {
    padding: 4px;
    display: flex;
    gap: 24px;
    font-size: 18px;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.banner-info {

}

#banner-title {
    font-size: 48px;
    font-weight: bolder;
}

#banner-text {
    font-size: 18px;
}

#banner-button {
    background-color: #3882f6;
    color: white;
    border: 0px;
    border-radius: 15px;
    width: 72px;
    height: auto;
    padding: 4px;
}

.banner-image {
    padding: 16px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content-title {
    font-size: 36px;
    font-weight: bolder;
}

.content-categories {
    display: flex;
}

.content-quote {
    font-size: 36px;
}

.content-button {

}

.footer {

}